In [2]:
import pandas as pd

In [10]:
import pandas as pd

Paises = {'País': {0: 'Brasil',
                       1: 'Estados Unidos',
                       2: 'Japão',
                       3: 'China',
                       4: 'Alemanha'},
            'RendaPerCapita': {0: 'US$ 11.075 mil',
                          1: 'US$ 65.111 mil',
                          2: 'US$ 40.846 mil',
                          3: 'US$ 10.098 mil',
                          4: 'US$ 46.563 mil'},
            'PIB': {0: 'US$ 1,363,767 Trilhões',
                        1: 'US$ 20,580,250 Trilhões',
                        2: 'US$ 4,910,580 Trilhões',
                        3: 'US$ 14,860,775 Trilhões',
                        4: 'US$ 3,780,553 Trilhões'}}

df = pd.DataFrame(Paises)

left_aligned_df = df.style.set_properties(**{'text-align': 'left'})
 
left_aligned_df = left_aligned_df.set_table_styles(
[dict(selector = 'th', props=[('text-align', 'left')])])
 
display(left_aligned_df)